@font-face {
  font-family: "Showtime";
  src: local("Shotime"), url(../../assets/fonts/Showtime.ttf) format("truetype");
}

.typ {
  font-family: "Showtime";
  text-align: center;
  margin-top: 10rem;
}

.enjoy {
  font-size: 8rem;
}

.enjoy:hover{
  color:#f4845f;
}
