@font-face {
  font-family: "Diavlo";
  src: local("Diavlo"),
    url(../../assets/fonts/diavlo-black-cufonfonts/Diavlo_MEDIUM_II_37.otf)
      format("truetype");
}

.navbarMain a {
  text-decoration: none;
  color: white;
}

.navbarMain a:hover{
  background-color: #F4845F;
  color: black;
  border-radius: 20px;
}

.navbarMain {
  display: flex;
  align-items: center;
  font-family: "Diavlo", serif;
  width: 75%;
}

.topContainer{
  position: sticky;
  top: 0;
  border-bottom: solid #F4845F 1px;
  z-index: 2;

}

.logo {
  margin-right: auto;
  font-size: 150%;
  padding: 20px 30px;
  text-decoration: none;
  color: inherit;
}

.navbarItem {
  vertical-align: middle;
  margin-right: 30px;
  text-decoration: none;
  color: inherit;
  padding-top: 15px;
  padding-bottom: 15px;

}

.skinTop {
  height: 70px;
  display: flex;
  justify-content: center;
  background-image: url(../../assets/sfondi/immagine.jpg);
  background-repeat: repeat-x;
  background-size: 300px;
}

