@font-face {
    font-family: 'Diavlo';
    src: local('Diavlo'), url(../assets/fonts/diavlo-black-cufonfonts/Diavlo_MEDIUM_II_37.otf) format('truetype');
  }

.navbar {
    display: flex;
    align-items: center;
    font-family: 'Diavlo', serif;
}

.home {
    margin-right: auto;
    font-size: 150%;
    padding: 20px 30px;
}

.navbarItem {
    padding: 25px;
    cursor: pointer;
    vertical-align: middle;
    margin-right: 30px;
}