@font-face {
  font-family: "Diavlo";
  src: local("Diavlo"),
    url(../../assets/fonts/diavlo-black-cufonfonts/Diavlo_MEDIUM_II_37.otf)
      format("truetype");
}
.buy {
  font-family: "Diavlo", serif;
  text-align: center;
}

.showItem {
  margin: 20px 20px;
  font-size: 20px;
}

.showList {
  margin: 20px 0;
  padding: 20px;
  border-style: outset;
}

.my-offcanvas .offcanvas-body {
  background-color: white;
  color: black;
}

.my-offcanvas .offcanvas-header {
  background-color: white;
  color: black;
}
.my-offcanvas .offcanvas-title {
  background-color: white;
  color: black;
}

.chooseSeat{
    margin-top: 5rem;
}

.select{
    height: 30px;
    margin-left: 20px;
    margin-bottom: 30px;
    width: 150px;
}

.container{
    display: flex;
    justify-content: space-evenly;
}

.summary, .divSeatAndPay{
    margin-top: 40px;
    padding: 30px;
    border: solid;
    display: inline-block;
    border-radius: 20px;
}

.caption{
  margin-top: 40px;
  border: solid;
  padding: 20px;
  height:fit-content;
  display: inline-block;
  border-radius: 20px;
}

.error{
    color:red;
}

.paypal{
    max-height: 100px;
}

.applepay{
    max-height: 60px;
}

.creditCard{
    max-height: 50px;
}


.allShows {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.singleCard {
  width: 14rem;
  margin: 2rem;
  font-family: "Diavlo";
  font-size: small;
  border-radius: 20px;
}

.cardTitle{
  border-radius: 20px;
  text-align: center;
  margin: 5px;
  padding: 5px;
  background-color:white;
  color: black;
  
}

.cardBody{
  font-size: 15px;
  text-align: center;
  height: "100%"
}


Button a, Button a:visited{
    color:black;
    text-decoration: none;
    background-color: inherit;
}

Button{
    margin: 10px 0;
}





.seat{
  max-width: 20px;
}


