@font-face {
  font-family: "Diavlo";
  src: local("Diavlo"),
    url(../../assets/fonts/diavlo-black-cufonfonts/Diavlo_MEDIUM_II_37.otf)
      format("truetype");
}

.showItem {
  margin: 20px 20px;
  font-size: 20px;
  display: inline;
}

.showList {
  margin: 20px 0;
  padding: 20px;
  border-radius: 20px;
  border: solid #F4845F 0.5px;
}

.select{
    height: 30px;
    margin-left: 20px;
    margin-bottom: 30px;
    width: 150px;
}

.allShows {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.singleCard {
  width: 14rem;
  font-family: "Diavlo";
  font-size: small;
  border-radius: 20px;
  border-color: #F4845F;
}

.cardTitle{  
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  text-align: center;
  
  background-color:#F4845F;
  border: solid #F4845F 1px;
  color: black;
  
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 80px;
  margin:0
  
}

.cardBody{
  font-size: 15px;
  text-align: center;
  height: "100%"
}


Button a, Button a:visited{
    color:black;
    text-decoration: none;
    background-color: inherit;
}

Button{
    margin: 10px 0;
}

.filterByDay{
  font-family: "Diavlo";
  text-align: center;
  margin: 20px;
  gap: 10px;
}

select{
  height: 1.8rem;
  margin-left: 20px;
}

.showError{
  font-family: "Diavlo";
  margin-top: 10rem;
  font-size: large;
  color:tomato
}