@font-face {
  font-family: "Diavlo";
  src: local("Diavlo"),
    url(../../assets/fonts/diavlo-black-cufonfonts/Diavlo_MEDIUM_II_37.otf)
      format("truetype");
}

.allMovies {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.singleCard {
  width: 14rem;
  margin: 2rem;
  font-family: "Diavlo";
  font-size: small;
  border-radius: 20px;
  
}

.cardImg{
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  z-index: 0;
}

.cardBody{
  z-index: 1;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  text-align: center;
  height: "100%"
}

.poster {
  width: 20rem;
  justify-content: center;
}

.posterContainer {
  display: flex;
  justify-content: center;
}

.cardContainer {
    width: 40rem;
  font-family: "Diavlo", serif;
  text-align: center;
}

.cardContainer img{
    margin-bottom: 20px;
}

.symbols{
    height:60px;
    margin: 0 20px;
}

Button a, Button a:visited{
    color:black;
    text-decoration: none;
    background-color: inherit;
}

Button{
    margin: 10px 0;
    
}

.title{
    text-align: center;
    margin: 5px;
    padding: 5px;
}
