@font-face {
    font-family: 'Showtime';
    src: local('Shotime'), url(../../assets/fonts/Showtime.ttf) format('truetype');
}

.home{
    font-family: 'Showtime';
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.hello, .lover{
    font-size: 5rem;
    color:#F4845F;
}
.movie{
    font-size: 8rem;
    
}