@font-face {
    font-family: 'Diavlo';
    src: local('Diavlo'), url(../assets/fonts/diavlo-black-cufonfonts/Diavlo_MEDIUM_II_37.otf) format('truetype');
}


.where{
    font-family: 'Diavlo', serif;
    text-align: center;
}